.main_container{
    width:100vw;
    height:100vh;
    background-image: url('/background.jpg');
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: "Inter", sans-serif;
}

.wrap_container{
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.wrap_container h1{
    font-size: 3.5rem;
}

.wrap_container p{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight:300;
}

.wrap_container span{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.link{
    color: #fff;
    font-weight: 450;
}