.main_container{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5rem;
}

.hero_txt{
    text-align: center;
    margin-top:0.8rem;
    color:#fff;
    font-weight:550;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and(max-width:500px){
    .hero_txt{
        font-size: 0.9rem;
    }
}