.main_container{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5rem;
}

.hero_txt{
    margin-top:0.8rem;
    color:#fff;
    font-weight:550;
    font-family: Arial, Helvetica, sans-serif;
}