.main_container{
    width:50%;
    /* border:1px solid #fff; */
    padding:1rem;
    padding-bottom: 0.7rem;
    margin-top:3rem;
}

.child_cont{
    width:100%;
    display: flex;
}

.input_container{
    width:100%;
    display: flex;
    border:1px solid #454545;
    height:3rem;
    border-radius: 0.4rem;
}

.input{
    height:100%;
    flex:1;
    border-radius:  0 0.4rem 0.4rem 0;
    background-color: #1C1E20;
    color:#454545;
    border:none;
    padding:0.2rem 0.3rem;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
}
.input:focus{
    outline: none;
    border: none;
    color:#CACACA;
}
.icon{
    height:100%;
    width:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1E20;
    border-radius:  0.4rem 0 0 0.4rem;
}

.enter_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width:3.2rem;
    background-color: #1C1E20;
    border-radius: 0.4rem;
    border:1px solid #454545;
    margin-left: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.animate{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}