.main_container {
  width: 50%;
  display: flex;
  padding: 1rem;
  margin-top: 0.3rem;
}

.result_input {
  flex:1;
  border-radius: 0.4rem;
  border: 1px solid #454545;
  padding: 0.5rem 0.7rem;
  color: #cacaca;
  height: 3rem;
  background-color: #1c1e20;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
}

.copy_link_btn {
  width: 7rem;
  border: 1px solid #454545;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e20;
  color: #cacaca;
  border-radius: 0.4rem;
  margin-left: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}


@media screen and (max-width:500px){
  .main_container{
    width:100%;
    padding:2rem;
    padding-top: 1rem;
  }
  .copy_link_btn{
    margin-left:1rem;
  }
}