.main_container{
    width: 50%;
    height:5rem;
    text-align: center;
    /* border:1px solid #fff; */
    margin-top: 3rem;
}

.title{
    color:#fff;
    line-height: 5rem;
    font-family: "Gravitas One";
}