@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  width:100%;
  min-height:100%;
  scroll-behavior: smooth;
}

.main_container{
  width:100vw;
  min-height:100vh;
  background-color: #313434;
  display: flex;
  flex-direction: column;
  align-items: center;
}